.header {
    margin: 92px 24px 96px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    padding-left: 26.52px;
    padding-right: 28px;
}

.header-menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    justify-content: space-between;
    list-style: circle;
    gap: 31px;
}

.header__links-list-item_no-bullit {
    list-style: none;
    letter-spacing: normal;
}

.header__link {
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 1px;
    text-decoration-thickness: 1px;
    letter-spacing: 0.18px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    min-width: 148px;
}

.header__logo-image {
    display: block;
}

.header__address {
    justify-self: end;
}

.address {
    font-style: normal;
    line-height: 24.3px;
    max-width: 240px;
    font-size: 18px;
}

.address a {
    flex-shrink: 0;
    letter-spacing: 0.18px;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.cover {
    position: relative;
    margin-bottom: 179px;
    padding: 165px 50px 0;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFF;
    z-index: 0;
}

.overlay {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    position: relative;
    z-index: 2;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.aligned-text {
    display: block;
    line-height: 100%;
    padding-top: 20px;
}

.aligned-text:first-child {
    padding-top: 0;
    line-height: 115%;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
    text-align: right;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 135px 0 51px 28px;
}

.cover__description-text {
    z-index: 2;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 18.5px;
    text-transform: uppercase;
}

.bet-button {
    z-index: 2;
    border: 1px solid currentColor;
    background-color: transparent;
    color: inherit;
    padding: 12px 32px 11px 31px;
    font-family: inherit;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.lots {
    margin-bottom: 146px;
    padding-left: 24px;
    padding-right: 24px;
}

.lots__heading {
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 40px;
    padding-bottom: 27px;
}

.lots__card-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.lots__card-list-item {
    max-width: 334px;
    min-height: 563px;
    flex-grow: 1;
}

.card-link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.card {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 51px 40px 48px;
    color: #fff;
    line-height: 1.2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__title {
    font-size: 22px;
    text-decoration-line: underline;
    text-underline-position: under;
    text-underline-offset: -1.5px;
    text-transform: uppercase;
    z-index: 2;
}

.card__text {
    font-size: 20px;
    z-index: 2;
}

.lots__look-more-link {
    display: block;
    padding-left: 40px;
    padding-top: 30px;
    text-decoration: underline;
    text-underline-position: from-font;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    font-size: 20px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 50px;
    justify-items: center;
}

.about__column {
    padding-top: 35px;
    padding-right: 24px;
}

.about__logo {
    margin-top: 35px;
    margin-left: 47px;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    display: block;
}

.about__title {
    margin-top: 101px;
    margin-bottom: 100px;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 24px;
}

.about__text:first-of-type {
    margin-top: 0;
}

.about__text.about__text-short {
    padding-right: 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
    margin-bottom: 88px;
    padding-left: 50px;
    padding-right: 50px;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
}

.footer__menu-link {
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 1px;
    text-decoration-thickness: 1px;
    font-size: 18px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    list-style-type: none;
    gap: 48px;
}
